<div class="nav bar">

    <div class="img1"> 

        <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Finicio%2Fimage%205.png?alt=media&token=cd16e593-1fdf-48f1-af0c-bf0a1bed672e" />

    </div>

    <div class="h1 thinkids negro">

        <h1>ThinKids</h1>

    </div>

    <div class="btn login">

        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>

    </div>


</div>

<div class="centro">

    <div class="centro 1">

        <div class="txt1">

            <h1 class="">La mejor manera de <br>
                aprender <span class="resaltado">logica</span> </h1>

        </div>

        <div class="txt2">

            <h2>Resolución de problemas interactiva <br> guiada que es efectiva y divertida. <br> Domina conceptos con 15 minutos al día.</h2>


        </div>

        <div class="btn comenzar">

            <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>

        </div>


    </div>

    <div class="centro 2">

        <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Finicio%2Fimage%201.png?alt=media&token=47376106-bdb4-4798-8cb2-d55f9d45e904" />

    </div>

</div>

<div class="h1 cursos">

    <h1>Cursos</h1>

</div>

<div class="img 3">

    <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Finicio%2Fimage%202.png?alt=media&token=87146f2e-c300-4388-827e-f0934ccc3ae5" />

</div>

<div class="h1 prox">

    <h1>Proximamente </h1>

</div>

<div class="cursosprox">

    <div class="ciencias">

        <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Finicio%2Fimage%203.png?alt=media&token=f8278367-ff19-4b5b-853c-289f0028a998" />
   
        <h2>Ciencias de la computacion</h2>

    </div>

    <div class="programacion">

        <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Finicio%2Fimage%204.png?alt=media&token=e582535d-beb9-4182-a491-4b062e600a5d" />
   
        <h2>Programacion</h2>
        
    </div>

</div>

<div class="footer">

    <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Finicio%2Fimage%205.png?alt=media&token=cd16e593-1fdf-48f1-af0c-bf0a1bed672e" />

    <h1 style="color: white;"> Thinkids</h1>

</div>
