<div class="login">

    <div class="img-login">
    
        <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Flogin%2Fimage%209.png?alt=media&token=faf8119a-62da-4491-8f23-ed907daa756d" />
    
    </div>

    <div class="h1-login">

            <h1>Login</h1>

    </div>
    
    <div class="btn-google">

        <input type="submit" value="google">


    </div>

    <div class="or">


        <div class="line1">

            <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Flogin%2FLine%201.png?alt=media&token=7c4d04fe-c197-4c93-9e45-c7136d1551ae" />

        </div>

        <div class="h1-or">

            <h1>Or</h1>

        </div>

        <div class="line2">

            <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Flogin%2FLine%202.png?alt=media&token=8c2ef05f-6a85-4828-a11a-179b69ba8a38" />


        </div>


    </div>

    <div class="datos">

        <form>
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>
    
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
    
            
        </form>


    </div>

    <div class="btn-login">

        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>


    </div>

    <div class="olvidepassword">


        <a href="https://www.google.com" target="_blank">¿Has olvidado tu contraseña?</a>



    </div>
    
    
    
    
    </div>
