<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Fhome%2Fimage%202.png?alt=media&token=1704e382-809f-4f7a-a0c7-fa93de264e51" />
          <span>Logica</span>
        </button>
        <button mat-menu-item disabled>
            <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Fhome%2Fimage%203.png?alt=media&token=00629e2e-959f-417f-96c0-2d6227a792de" />
          <span>Ciencias de la computacion</span>
        </button>
        <button mat-menu-item disabled>
            <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Fhome%2Fimage%204.png?alt=media&token=4a9088c3-a25f-4361-9f7c-bfcb0a2a2f65" />
          <span>Programacion</span>
        </button>
      </mat-menu>

      <img src="https://firebasestorage.googleapis.com/v0/b/thinkids-3f399.appspot.com/o/ThinKids%2Finicio%2Fimage%205.png?alt=media&token=cd16e593-1fdf-48f1-af0c-bf0a1bed672e" />

    <span>ThinKids</span>


  </mat-toolbar> 
